# CI for Product Catalog Service

name: product-catalog-ci

on: 
    pull_request:
        branches:
        - main
    push:
        branches:
        - main
permissions:
  contents: write   
jobs:
    build:
        runs-on: ubuntu-latest

        steps:
        - name: checkout code
          uses: actions/checkout@v4

        - name: Setup Go 1.22
          uses: actions/setup-go@v2
          with:
            go-version: 1.22
        
        - name: Build
          run: |
            cd src/product-catalog
            go mod download
            go build -o product-catalog-service main.go

        - name: unit tests
          run: |
            cd src/product-catalog
            go test ./...
    
    code-quality:
        runs-on: ubuntu-latest

        steps:
        - name: checkout code
          uses: actions/checkout@v4
        
        - name: Setup Go 1.22
          uses: actions/setup-go@v2
          with:
           go-version: 1.22
        
        - name: Run golangci-lint
          uses: golangci/golangci-lint-action@v6
          continue-on-error: true
          with:
            version: v1.55.2
            # run: golangci-lint run
            working-directory: src/product-catalog
    sonar:
      runs-on: ubuntu-latest
      needs: build

      steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.22

      - name: Run tests with coverage
        run: |
          cd src/product-catalog
          go test -coverprofile=coverage.out ./...

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          projectBaseDir: src/product-catalog
          args: >
            -Dsonar.projectKey=product-pennmokom_devsecops-zero-trust-project
            -Dsonar.organization=pennmokom-1
            -Dsonar.go.coverage.reportPaths=coverage.out
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN}}
   
    # sonarqube:
    #  name: SonarQube
    #  runs-on: ubuntu-latest
    #  steps:
    #   - uses: actions/checkout@v4
    #     with:
    #       fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
    #   - name: SonarQube Scan
    #     uses: SonarSource/sonarqube-scan-action@v6
    #     env:
    #       SONAR_TOKEN: 
    snyk-sca: # This runs at the same time as SonarCloud
     runs-on: ubuntu-latest
     steps:
      - uses: actions/checkout@v4
      - name: Run Snyk
        uses: snyk/actions/golang@master
        continue-on-error: true 
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: src/product-catalog

    checkov-sca:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Run Checkov
          uses: bridgecrewio/checkov-action@master
          with:
            # Point to your microservice directory
            directory: src/product-catalog
            # soft-fail: true ensures the build doesn't break on findings
            soft_fail: true 
            # scan_hcl_or_tf: false # Optional: Set if you want to skip IaC and only do SCA
            framework: sca,dockerfile,kubernetes
            output_format: cli,sarif
            output_file_path: console,results.sarif

        # Optional: Upload results to GitHub Security Tab
        - name: Upload SARIF file
          uses: github/codeql-action/upload-sarif@v3
          if: always()
          with:
            sarif_file: results.sarif

    docker:
        runs-on: ubuntu-latest

        needs: build

        steps:
        - name: checkout code
          uses: actions/checkout@v4

        - name: Install Docker
          uses: docker/setup-buildx-action@v1
        
        - name: build Docker image (local only)
          run: |
           docker build -t product-catalog:${{ github.run_id }} src/product-catalog
        - name: Scan image with Trivy
          uses: aquasecurity/trivy-action@master
          # continue-on-error: false
          with:
            image-ref: product-catalog:${{ github.run_id }}
            format: table
            exit-code: 0
            severity: CRITICAL,HIGH
        
        - name: Login to Docker
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_TOKEN }}

        - name: Docker Push
          uses: docker/build-push-action@v6
          with:
            context: src/product-catalog
            file: src/product-catalog/Dockerfile
            push: true
            tags: ${{ secrets.DOCKER_USERNAME }}/product-catalog:${{github.run_id}}

    
    updatek8s:
        runs-on: ubuntu-latest

        needs: docker

        steps:
        - name: checkout code
          uses: actions/checkout@v4
          with:
            token: ${{ secrets.GITHUB_TOKEN }}

        - name: Update tag in kubernetes deployment manifest
          run: | 
               sed -i "s|image: .*|image: ${{ secrets.DOCKER_USERNAME }}/product-catalog:${{github.run_id}}|" kubernetes/productcatalog/deploy.yaml
        
        - name: Commit and push changes
          run: |
            git config --global user.email "mokom.gerald@ictuniversity.edu.cm"
            git config --global user.name "pennmokom"
            git add kubernetes/productcatalog/deploy.yaml
            git commit -m "[CI]: Update product catalog image tag"
            git push origin HEAD:main

        
        
          


        